# this is just a demo .gitignore file, put all the files and folders you want to be ignored by git inside
# if you work with NetBeans: ignore NetBeans project files
/nbproject/private/
# don't commit all the dependencies fetched via Composer
/vendor/
