body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.logo {
    font-size: 100px;
    font-weight: bolder;
    letter-spacing: -6px;
    color: #222;
    margin: 20px 30px;
}
.container {
    max-width: 960px;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 33px;
}
.container a {
    color: #222;
}
.container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input {
    background-color: #f5f5f5;
    border: 0;
    padding: 5px 10px;
}
.container input[type="submit"] {
    background-color: #ccc;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}



/* navigation dropdown menu */
.navigation, .navigation-submenu {
    display: inline-block;
    list-style: none;
    /* btw this is necessary to remove most browsers's "hidden" default <ul> intent */
    margin: 0;
    padding: 0;
}
/* TODO */
.navigation {
    margin-left: 33px;
}
.navigation li {
    float: left;
    margin-right: 5px;
}
.navigation .navigation-submenu {
    display: none;
}
.navigation li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #222;
    background: #222;
    color: #fff;
    float:none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.navigation li:hover .navigation-submenu {
    display: block;
    position: absolute;
    float: left;
}
.navigation li:hover li,
.navigation li:hover a {
    float: none;
}
.navigation li a:hover,
.navigation li:hover li a:hover {
    background: #fff;
    color: #222;
}

.navigation > li.active a {
    background: #fff;
    color: #222;
}
.navigation > li.active li a {
    background: #222;
    color: #fff;
}

/* overview */
.overview-table img {
    width: 40px;
    height: 40px;
}

/* feedback boxes */
.feedback {
    border: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}
.feedback.success {
    color: green;
}
.feedback.error {
    color: red;
}

.header_right_box {
    float: right;
}